.dialog {
  &::backdrop {
    background: color(display-p3 0 0 0 / 0.3);
  }

  background: white;
  border: none;
  border-radius: 6px;

  & label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 14px;
    font-weight: 500;
  }
}
