.button {
  all: unset;

  margin-top: 16px;

  background-color: var(--violet-9); /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform 0.2s ease;
  &:active {
    transform: scale(0.95);
  }

  &:hover {
    background-color: var(--violet-10);
  }

  &:focus {
    outline: 2px solid;
    outline-offset: 1px;
  }
}
